@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
body, html{
    background-color: #f2f2f2;
    font-family: 'Righteous', cursive;
}
.boutton__add{
    border-width: 1px;
    border-style: solid;
    padding: 10px 50px;
    border-radius: 3px;
    border-color: #f8f9fa;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    cursor: pointer;
}

.task__item:hover {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    cursor: pointer;
}

.card-body {
    background-color: #f2f2f2;
}

.task__item {
    border-width: 1px;
    border-style: solid;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 12px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
}

.icon__tag {
    color: var(--primary);
}

.icon__deadline {
    color: var(--danger)
}

.list__item .card-header,
.list__item .card-footer {
    background-color: #354a5e;
}

.list__header label {
    font-size: 20px;
    color: var(--light);
}

.icon__list {
    color: var(--light);
}

.icon__new__card {
    color: #4fc08d;
}

.task__deadline label,
.task__name label,
.task__tags label {
    color: #354a5e;
    margin-left: 15px;
    font-size: 16px
}
.task__completed{
    opacity: 0.3;
}
.task__completed .task__deadline label,
.task__completed .task__name label{
    text-decoration-line: line-through;
    text-decoration-color: green;
}
.task__tags .task__tag__container{
    border-radius: 10px;
    border: solid;
    margin: 0px 4px;
    padding: 0px 7px;
}