<template>
    <div class="text-center">
        <div class="mt-3">
            <div class="boutton__add boutton__add__list text-center align-middle" @click="addList">
                <span>
                                <span>Ajouter une liste</span>
                <b-icon class="ml-2 icon__add" font-scale="1" icon="plus"></b-icon>
                </span>
                <b-input-group v-show="inputList" class="mt-3">
                    <b-input-group-prepend is-text>
                        <b-icon class="icon__new__card" icon="clipboard-plus"></b-icon>
                    </b-input-group-prepend>
                    <!--v-focus="listObject" @keyup.enter="saveList" @keyup.esc="cancelAddList" @blur="cancelAddList" -->
                    <b-form-input ref="inputListRef" v-model="listName" id="input-default" placeholder="Saisir le titre de la liste..." v-focus="listObject" @keyup.enter="saveList" @keyup.esc="cancelAddList" @blur="cancelAddList"></b-form-input>
                </b-input-group>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            inputList: false,
            listObject: [],
            list: [],
            listName: '',
            inputListElement: null
        }
    },
    directives: {
        focus(el, val) {
            el.focus()
        }
    },
    mounted() {
        this.inputListElement = this.$refs.inputListRef.$el
    },
    computed: {

    },
    methods: {
        addList() {
            this.inputList = true;
            this.inputListElement.focus()
        },
        saveList() {
            if (this.listName != '') {
                this.listObject.push({
                    name: this.listName,
                    task: []
                })
                this.listName = ""
                this.$emit('list', this.listObject)
            }
        },
        cancelAddList() {
            this.inputList = false;
        }
    },
}
</script>

<style>
.boutton__add__list {
    background: #f8f9fa;
}

.icon__add {
    color: #4fc08d
}

.boutton__add:hover {
    background: #f2f2f2;
    color: #4fc08d
}
</style>