<template>
    <div>
        <div class="task__item align-middle mt-2" v-for="(task, index) in tasks" :key=index :class="{task__completed: task.completed}">
            <div>
                <span class="task__tags">
                        <b-icon class="ml-2 icon__tag" icon="tag-fill"></b-icon>
                        <span class="task__tag__container" v-for="(tag, index) in task.tags" :key="index" :style="{backgroundColor: tag, borderColor: tag}"/>
                    </span>
            </div>
            <div>
                <span class="task__name">
                        <b-icon class="ml-2 icon__name" icon="list-task"></b-icon>
                        <label >{{task.name}}</label>
                    </span>
            </div>
            <div>
                <span class="task__deadline">
                        <b-icon class="ml-2 icon__deadline" icon="clock"></b-icon>
                        <label>{{task.deadline}}</label>
                    </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ItemTask',
        props: {
            tasks: {
                type: Array,
                required: true
            },
        },
        data() {
            return {
                key: ""
            }
        },
    }
</script>

<style>

</style>