<template>
    <div class="list__item card bg-light mb-3">
        <b-row>
            <b-col cols="4" class="mt-2">
                <div class="card-header">
                    <span class="list__header">
                        <b-icon class="ml-2 icon__list" icon="clipboard-data" font-scale="3"></b-icon>
                        <label>Header</label>
                    </span>
                </div>
                <div class="card-body">
                    <ItemTask :tasks="taskList" />
                </div>
                <div class="card-footer boutton__add boutton__add__cart text-center align-middle">
                    <b-input-group>
                        <b-input-group-prepend is-text>
                            <b-icon class="icon__new__card" icon="list-task"></b-icon>
                        </b-input-group-prepend>
                        <!--v-focus="listObject" @keyup.enter="saveList" @keyup.esc="cancelAddList" @blur="cancelAddList" -->
                        <b-form-input ref="inputCartRef" v-model="cartName" placeholder="Ajouter une tâche..."></b-form-input>
                    </b-input-group>
                </div>
            </b-col>
            <b-col cols="4" class="mt-2">
                <div class="card-header">
                    <span class="list__header">
                        <b-icon class="ml-2 icon__list" icon="clipboard-data" font-scale="3"></b-icon>
                        <label>Header</label>
                    </span>
                </div>
                <div class="card-body">
                    <ItemTask :tasks="taskList" />
                </div>
                <div class="card-footer boutton__add boutton__add__cart text-center align-middle">
                    <b-input-group>
                        <b-input-group-prepend is-text>
                            <b-icon class="icon__new__card" icon="list-task"></b-icon>
                        </b-input-group-prepend>
                        <!--v-focus="listObject" @keyup.enter="saveList" @keyup.esc="cancelAddList" @blur="cancelAddList" -->
                        <b-form-input ref="inputCartRef" v-model="cartName" placeholder="Ajouter une tâche..."></b-form-input>
                    </b-input-group>
                </div>
            </b-col>
            <b-col cols="4" class="mt-2">
                <div class="card-header">
                    <span class="list__header">
                        <b-icon class="ml-2 icon__list" icon="clipboard-data" font-scale="3"></b-icon>
                        <label>Header</label>
                    </span>
                </div>
                <div class="card-body">
                    <ItemTask :tasks="taskList" />
                </div>
                <div class="card-footer boutton__add boutton__add__cart text-center align-middle">
                    <b-input-group>
                        <b-input-group-prepend is-text>
                            <b-icon class="icon__new__card" icon="list-task"></b-icon>
                        </b-input-group-prepend>
                        <!--v-focus="listObject" @keyup.enter="saveList" @keyup.esc="cancelAddList" @blur="cancelAddList" -->
                        <b-form-input ref="inputCartRef" v-model="cartName" placeholder="Ajouter une tâche..."></b-form-input>
                    </b-input-group>
                </div>
            </b-col>
                        <b-col cols="4" class="mt-2">
                <div class="card-header">
                    <span class="list__header">
                        <b-icon class="ml-2 icon__list" icon="clipboard-data" font-scale="3"></b-icon>
                        <label>Header</label>
                    </span>
                </div>
                <div class="card-body">
                    <ItemTask :tasks="taskList" />
                </div>
                <div class="card-footer boutton__add boutton__add__cart text-center align-middle">
                    <b-input-group>
                        <b-input-group-prepend is-text>
                            <b-icon class="icon__new__card" icon="list-task"></b-icon>
                        </b-input-group-prepend>
                        <!--v-focus="listObject" @keyup.enter="saveList" @keyup.esc="cancelAddList" @blur="cancelAddList" -->
                        <b-form-input ref="inputCartRef" v-model="cartName" placeholder="Ajouter une tâche..."></b-form-input>
                    </b-input-group>
                </div>
            </b-col>
        </b-row>
    
    </div>
</template>

<script>
import ItemTask from '@/components/ItemTask.vue';
import moment from 'moment'
moment.locale('fr')
export default {
    name: 'List',
    components: {
        ItemTask,
        moment
    },
    props: {
        list: { type: Array, required: true }
    },
    data() {
        return {
            taskList: [{
                    tags: ["#4fc08d", "#0ea5e0", "#000000"],
                    name: "Tache 1",
                    completed: false,
                    deadline: moment().format('DD MMM YYYY HH:mm')
                },
                {
                    tags: ["#4fc08d", "red"],
                    name: "Tache 2",
                    completed: true,
                    deadline: moment().format('DD MMM YYYY HH:mm')
                }
            ],
            cartName: ''
        }
    },
    computed: {

    },
    methods: {

    },
}
</script>

<style>

</style>