<template>
    <div id="app">
        <h1 class="mt-4 title__kanba">KANBAN</h1>
        <b-container class="bv-example-row">
            <b-row class="mb-5 justify-content-center">
                <AddList @list='getList'/>
            </b-row>
            <b-row>
                <List :list="list"/>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import List from '@/components/List.vue';
import AddList from '@/components/AddList.vue';
export default {
    name: 'App',
    components: {
        AddList,
        List
    },
    data() {
      return {
        list: []
      }
    },
    methods: {
      getList(value) {
        this.list = value
      }
    },
}
</script>

<style>
.title__kanba {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 20px;
    font-weight: 700;
    color: #4fc08d;
    text-transform: uppercase;
    opacity: 0.8;
}
</style>
